HELP.md
config.json
target/
resources/test/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

*.exe
**/mysql/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
logs/

### VS Code ###
.vscode/

/c-db/
*.exe